.homepage-container {
    color: #677e7e;
}

.listing.graphs {
    background-image: radial-gradient(white, #e3e8e8);
    border: 1px solid #EBEBEB;
    box-shadow: 4px 6px 2px #cecaca;
    width: 600px;
    height: 420px;
    padding: 30px 40px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.graph-distribution {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
  }
  
  
  .graphs {
    margin: 7% auto;
  }
  
  .graphs h3 {
    font-size: 1em;
  }
  
  .banner {
    margin: 0 2%;
    padding: 0;
  }
  
  .homepage-container h1 {
    margin: 0 auto;
    padding: 20px 0;
  }
  
  
  .sort-button {
    background-color: #394646;
    box-sizing: border-box;
    height: 20px;
    width: 42px;
    color: #DDDCDC;
    border-radius: 3px;
    display: inline-block;
    margin: 0 auto;
    font-size: 0.9em;
    text-align: center;
    padding: 1px 5px 5px 5px;
  }
  
  .grade-dist-time {
    display: inline;
    float: left;
    margin-right: 10px;
  }
  
  .sort-button:active {
    background-color: #757575;
    color: #DDDCDC;
  }
  