
  .portfolio {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #677e7e;
    align-items: center;
    line-height: 1.4em;
  }

  .portfolio {
    .listing {
        border: 1px solid grey;
        box-shadow: 4px 6px 2px #cecaca;
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        margin: 15px;
    }

    .listing {

        .modalPics {
            height: 100%;
            width: auto;
            opacity: 0.5;
        }

        .modalPics.widthMore {
            width: 100%;
            height: auto;
        }
        .doubleStacked {
            height: 100px;
            width: auto;
            margin: 0px auto;
            display: block;
        }
    }

    .listing:hover .modalPics {
        opacity: 1;
    }
  }
  

  
  .blackboardBlock {
    text-align: center;
    vertical-align: middle;
  }
  
  
  .blackboard {
    margin: 50px auto 20px auto;
    width: 6%;
    opacity: 0.6;
    vertical-align: center;
  }